<div id="modalEditUser">
    <div class="modal fade" id="userEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="userEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userEditModalLabel">Cập nhật tài khoản</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Edit" method="post" id="editUserForm">
                        <input type="hidden" id="Id" name="Id" />
                        <div class="mb-3">
                            <label for="editName" class="form-label fw-bold">Tên người dùng</label>
                            <input type="text" class="form-control" id="editName" name="Name"
                                placeholder="Nhập tên người dùng">
                        </div>
                        <div class="mb-3">
                            <label for="editEmail" class="form-label fw-bold">Email</label>
                            <input type="email" class="form-control" id="editEmail" name="Email"
                                placeholder="Nhập email">
                        </div>
                        <div class="mb-3">
                            <label for="editPhone" class="form-label fw-bold">Số điện thoại</label>
                            <input type="text" class="form-control" id="editPhone" name="Phone"
                                placeholder="Nhập số điện thoại">
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>