@{
    ViewData["Title"] = "Đặt món";
}
<script src="https://cdn.jsdelivr.net/npm/@@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

<div id="main-content p-1 vh-100">
    <div class="container-fluid overflow-hidden tables">
        <div class="row mb-4 pt-1 overflow-auto">
            <div class="col-12 d-flex justify-content-start" style="min-width: 75rem">
                <button class="btn btn-primary me-3 btn-table-delivery">Bán mang đi</button>
                <div class="btn-group">
                    <input type="radio" name="status" value="all" id="table-status-all" class="btn-check" checked>
                    <label class="btn btn-outline-primary table-status" for="table-status-all">Tất cả</label>
                    <input type="radio" name="status" value="0" id="table-status-0" class="btn-check">
                    <label class="btn btn-outline-primary table-status" for="table-status-0">Đang trống</label>
                    <input type="radio" name="status" value="1" id="table-status-1" class="btn-check">
                    <label class="btn btn-outline-primary table-status" for="table-status-1">Có khách</label>
                </div>
                <div class="btn-group ms-3">
                    <input type="radio" name="area" value="all" id="table-area-0" class="btn-check" checked>
                    <label class="btn btn-outline-primary table-area" for="table-area-0">Tất cả</label>
                    <input type="radio" name="area" value="1" id="table-area-1" class="btn-check">
                    <label class="btn btn-outline-primary table-area" for="table-area-1"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <section class="splide" aria-labelledby="carousel-heading">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide cursor-pointer">
                                <div class="card table-card  shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                    style="width: 12rem;" data-id="">
                                    <span class="text-overlay">04</span>
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Sân 04</h5>
                                        <small><span class="text-success">Đang trống</span></small>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide cursor-pointer">
                                <div class="card table-card  shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                    style="width: 12rem;" data-id="">
                                    <span class="text-overlay">04</span>
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Sân 04</h5>
                                        <small><span class="text-success">Đang trống</span></small>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide cursor-pointer">
                                <div class="card table-card  shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                    style="width: 12rem;" data-id="">
                                    <span class="text-overlay">04</span>
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Sân 04</h5>
                                        <small><span class="text-success">Đang trống</span></small>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide cursor-pointer">
                                <div class="card table-card  shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                    style="width: 12rem;" data-id="">
                                    <span class="text-overlay">04</span>
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Sân 04</h5>
                                        <small><span class="text-success">Đang trống</span></small>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide cursor-pointer">
                                <div class="card table-card  shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                    style="width: 12rem;" data-id="">
                                    <span class="text-overlay">04</span>
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Sân 04</h5>
                                        <small><span class="text-success">Đang trống</span></small>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide cursor-pointer">
                                <div class="card table-card  shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                    style="width: 12rem;" data-id="">
                                    <span class="text-overlay">04</span>
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Sân 04</h5>
                                        <small><span class="text-success">Đang trống</span></small>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide cursor-pointer">                                <div class="card table-card  shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                    style="width: 12rem;" data-id="">
                                    <span class="text-overlay">04</span>
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Sân 04</h5>
                                        <small><span class="text-success">Đang trống</span></small>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide cursor-pointer">
                                <div class="card table-card  shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                    style="width: 12rem;" data-id="">
                                    <span class="text-overlay">04</span>
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Sân 04</h5>
                                        <small><span class="text-success">Đang trống</span></small>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide cursor-pointer">
                                <div class="card table-card  shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                    style="width: 12rem;" data-id="">
                                    <span class="text-overlay">04</span>
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Sân 04</h5>
                                        <small><span class="text-success">Đang trống</span></small>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide cursor-pointer">
                                <div class="card table-card  shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                    style="width: 12rem;" data-id="">
                                    <span class="text-overlay">04</span>
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Sân 04</h5>
                                        <small><span class="text-success">Đang trống</span></small>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide cursor-pointer">
                                <div class="card table-card  shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                    style="width: 12rem;" data-id="">
                                    <span class="text-overlay">04</span>
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Sân 04</h5>
                                        <small><span class="text-success">Đang trống</span></small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 d-flex justify-content-start" style="min-width: 75rem">
                <div class="btn-group">
                    <input type="radio" name="catalogue" value="all" id="product-catalogue-all" class="btn-check"
                        checked>
                    <label class="btn btn-outline-primary" for="product-catalogue-all">Tất cả</label>
                    <input type="radio" name="catalogue" value="1" id="product-catalogue-1" class="btn-check">
                    <label class="btn btn-outline-primary" for="product-catalogue-1">Đồ uống</label>
                    <input type="radio" name="catalogue" value="2" id="product-catalogue-2" class="btn-check">
                    <label class="btn btn-outline-primary" for="product-catalogue-2">Đồ ăn</label>
                    <input type="radio" name="catalogue" value="3" id="product-catalogue-3" class="btn-check">
                    <label class="btn btn-outline-primary" for="product-catalogue-3">Món khác</label>
                </div>
            </div>
        </div>
        <div id="product-list" class="row justify-content-start align-items-center mb-3">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var splide = new Splide('.splide', {
            type: 'loop',
            drag: true,
            arrows: false,
            pagination: false,
            perPage: 6,
            breakpoints: {
                600: {
                    perPage: 1.5
                }
            },
            height: 'auto'
        });

        splide.mount();

        $(document).ready(function () {
            let str = ``;
            $.get('/Main/Load', function (data) {
                $.each(data.products, function (index, product) {
                    console.log(product);
                    let pro_catalogue = ``;
                    if (product.catalogue == 1) {
                        pro_catalogue = 'Đồ uống'
                    } else if (product.catalogue == 2) {
                        pro_catalogue = 'Đồ ăn'
                    } else {
                        pro_catalogue = 'Món khác'
                    }
                    str += `<div class="col-6 col-md-3 col-lg-2 product-col">
                            <!-- Card-->
                            <div class="card product-card bg-transparent cursor-pointer" data-id="${product.id}">
                                <div class="ratio ratio-16x9 mb-2">
                                    <img src="${product.image}" class="card-img-top rounded-4 rounded-lg-5 object-fit-cover" alt="${product.name}">
                                </div>
                                <div class="row px-3 justify-content-start align-items-center">
                                    <div class="col-12 p-0">
                                        <p class="text-primary card-title mb-0 fw-bold">${product.name}</p>
                                    </div>
                                    <div class="col-8">
                                        <ul class="card-text ps-0 d-flex text-secondary" style="list-style-type: none;">
                                            <li><small><i class="bi bi-bookmarks-fill"></i>${pro_catalogue}</small></li>
                                        </ul>
                                    </div>
                                    <div class="col-2 p-0">
                                        <div class="ratio ratio-1x1 text-center mt-1">
                                            <span class="text-primary border-primary rounded-3 bg-light-primary align-middle fw-bold fs-5 pt-2">${number_format(product.price/1000)}</span>
                                        </div>
                                    </div>
                                    <div class="col-2 dropstart btn-group product-menu" data-id="${product.id}">
                                        <button class="btn btn-link mb-0 px-2 py-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu p-2">
                                            <li>
                                                <a class="cursor-pointer dropdown-item btn-update-product" data-id="${product.id}">
                                                    <small><i class="bi bi-pencil-square"></i> Sửa món</small>
                                                </a>
                                            </li>
                                            <li>
                                                <hr>
                                            </li>
                                            <li>
                                                <form action="/Product/Delete" method="post" class="save-form">
                                                    <input type="hidden" name="choices[]" value="${product.id}">
                                                    <button type="submit" class="cursor-pointer text-danger dropdown-item btn-remove">
                                                        <small><i class="bi bi-trash3"></i> Xóa món</small>
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                });
                $('#product-list').html(str);
            })
        })
    </script>
}