@{
    ViewData["Title"] = "Đặt món";
}
<script src="https://cdn.jsdelivr.net/npm/@@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

<div id="main-content p-1 vh-100">
    <div class="container-fluid overflow-hidden">
        <div class="row mb-4 pt-1 overflow-auto">
            <div class="col-12 d-flex justify-content-start" style="min-width: 75rem">
                <button class="btn btn-primary me-3 btn-table-delivery">Bán mang đi</button>
                <div class="btn-group" id="search-table">
                    <input type="radio" name="status" value="all" id="table-status-all" class="btn-check" checked>
                    <label class="btn btn-outline-primary table-status" for="table-status-all">Tất cả</label>
                    <input type="radio" name="status" value="0" id="table-status-0" class="btn-check">
                    <label class="btn btn-outline-primary table-status" for="table-status-0">Đang trống</label>
                    <input type="radio" name="status" value="1" id="table-status-1" class="btn-check">
                    <label class="btn btn-outline-primary table-status" for="table-status-1">Có khách</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <section class="splide" aria-labelledby="carousel-heading">
                    <div class="splide__track">
                        <ul id="table-list" class="splide__list">
                        </ul>
                    </div>
                </section>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 d-flex justify-content-start" style="min-width: 75rem">
                <div class="btn-group" id="search-product">
                    <input type="radio" name="catalogue" value="all" id="product-catalogue-all" class="btn-check"
                        checked>
                    <label class="btn btn-outline-primary" for="product-catalogue-all">Tất cả</label>
                    <input type="radio" name="catalogue" value="1" id="product-catalogue-1" class="btn-check">
                    <label class="btn btn-outline-primary" for="product-catalogue-1">Đồ uống</label>
                    <input type="radio" name="catalogue" value="2" id="product-catalogue-2" class="btn-check">
                    <label class="btn btn-outline-primary" for="product-catalogue-2">Đồ ăn</label>
                    <input type="radio" name="catalogue" value="3" id="product-catalogue-3" class="btn-check">
                    <label class="btn btn-outline-primary" for="product-catalogue-3">Món khác</label>
                </div>
            </div>
        </div>
        <div id="product-list" class="row justify-content-start align-items-center mb-3">
        </div>
    </div>

    <div class="offcanvas-end">
        <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" data-bs-backdrop="false"
            id="bill-canvas" aria-labelledby="bill-canvas-label">
            <div class="row offcanvas-header justify-content-start">
                <div class="col-10">
                    <h3 class="offcanvas-title" id="bill-canvas-label">Chi tiết hóa đơn</h3>
                </div>
                <div class="col-2 text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
            </div>
            <div class="row justify-content-start">
                <span class="table-selected"></span>
            </div>
            <div class="offcanvas-body pt-0">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="fs-4 text-secondary d-inline mb-1 align-middle bill-tables"></p>
                    <p class="fs-4 text-secondary d-inline mb-1 align-middle"><span
                            class="badge bg-light-primary text-primary border border-primary bill-created_at"></span>
                    </p>
                </div>
                <div class="row bill-controls">
                    <div class="col-6 d-flex align-items-center">
                        <small class="text-secondary bill-meta" style="line-height: 1.2rem"></small>
                        <div
                            class="border border-2 rounded-3 bg-outline-primary p-2 fw-bold d-flex justify-content-center align-items-center table-name">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row justify-content-end">
                            <div class="col-4 px-0">
                                <button class="btn btn-outline-primary btn-print" data-bs-toggle="tooltip"
                                    data-bs-title="In">
                                    <i class="bi bi-printer"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="px-4">
                <form asp-controller="Main" asp-action="Create" method="post" id="main-form" class="save-form"
                    accept-charset="UTF-8">
                    <ul class="bill-details">
                    </ul>
                    <hr class="px-4">
                    <div class="d-flex justify-content-between text-dark mt-2">
                        <p class="fw-bold mb-1">Tổng đơn:</p>
                        <p class="bill-total mb-1">0</p>
                        <input type="hidden" name="total_price" class="input-bill-total" value="0">
                    </div>
                    <input type="hidden" name="table_id">
                    <div class="bill-footer d-grid gap-4">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-success btn-bill">
                                <h5 class="fw-bold pt-1"><i class="bi bi-receipt"></i>
                                    Tạo đơn
                                </h5>
                            </button>
                            <input type="hidden" name="id">
                            <button type="button" class="btn btn-success btn-pay">
                                <h5 class="fw-bold pt-1"><i class="bi bi-coin"></i>
                                    Thanh toán đơn
                                </h5>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function slider_config() {
            var splide = new Splide('.splide', {
                drag: true,
                arrows: false,
                pagination: false,
                perPage: 5,
                breakpoints: {
                    600: {
                        perPage: 2
                    }
                },
                height: 'auto'
            });
            splide.mount();
        }

        $(document).ready(function () {
            loadTable('all');
            loadProduct('all');

            function loadTable(valueToChange) {
                let str_table = '';
                $.get('/Main/Load', function (data) {
                    $.each(data.tables, function (index, table) {
                        if (valueToChange == 'all') {
                            let table_statusStr = ``;
                            if (table.status == 0) {
                                table_statusStr = '<span class="text-success">Đang trống</span>'
                            } else if (table.status == 1) {
                                table_statusStr = '<span class="text-danger">Có khách</span>'
                            }
                            str_table += `
                                                                                                    <li class="splide__slide">
                                                                                                        <label for="table-${table.id}" class="cursor-pointer table-label">
                                                                                                            <div class="card table-card shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                                                                                                style="width: 12rem;">
                                                                                                                <span class="text-overlay">${(table.area != null) ? table.area : 'Không có khu vực'}</span>
                                                                                                                <div class="card-body pt-0">
                                                                                                                    <h4 class="card-title text-uppercase text-primary">${table.name}</h4>
                                                                                                                    <small>${table_statusStr}</small>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        <input type="radio" name="table" id="table-${table.id}" value="${table.id}" data-status="${table.status}" class="d-none table-select" />
                                                                                                        </label>
                                                                                                    </li>`;
                        } else if (valueToChange == table.status) {
                            let table_statusStr = ``;
                            if (table.status == 0) {
                                table_statusStr = '<span class="text-success">Đang trống</span>'
                            } else if (table.status == 1) {
                                table_statusStr = '<span class="text-danger">Có khách</span>'
                            }
                            str_table += `
                                                                                                        <li class="splide__slide">
                                                                                                            <label for="table-${table.id}" class="cursor-pointer table-label">
                                                                                                                <div class="card table-card shadow-sm p-3 text-center rounded-4 rounded-lg-5"
                                                                                                                    style="width: 12rem;">
                                                                                                                    <span class="text-overlay">${(table.area != null) ? table.area : 'Không có khu vực'}</span>
                                                                                                                    <div class="card-body pt-0">
                                                                                                                        <h4 class="card-title text-uppercase text-primary">${table.name}</h4>
                                                                                                                        <small>${table_statusStr}</small>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            <input type="radio" name="table" id="table-${table.id}" value="${table.id}" data-status="${table.status}" class="d-none table-select" />
                                                                                                            </label>
                                                                                                        </li>`;
                        }
                    });
                    $('#table-list').html(str_table);
                    slider_config();
                });
            }

            function loadProduct(valueToChange) {
                let str_product = '';
                $.get('/Main/Load', function (data) {
                    $.each(data.products, function (index, product) {
                        if (valueToChange == 'all') {
                            let pro_catalogue = ``;
                            if (product.catalogue == 1) {
                                pro_catalogue = 'Đồ uống';
                            } else if (product.catalogue == 2) {
                                pro_catalogue = 'Đồ ăn';
                            } else {
                                pro_catalogue = 'Món khác';
                            }
                            str_product += `
                                                                                                    <div class="col-6 col-md-3 col-lg-2 product-col">
                                                                                                        <div class="card product-card bg-transparent cursor-pointer" data-id="${product.id}">
                                                                                                            <div class="ratio ratio-16x9 mb-2">
                                                                                                                <img src="${product.image}" class="card-img-top rounded-4 rounded-lg-5 object-fit-cover" alt="${product.name}">
                                                                                                            </div>
                                                                                                            <div class="row px-3 justify-content-start align-items-center">
                                                                                                                <div class="col-12 p-0">
                                                                                                                    <p class="text-primary card-title mb-0 fw-bold">${product.name}</p>
                                                                                                                </div>
                                                                                                                <div class="col-8">
                                                                                                                    <ul class="card-text ps-0 d-flex text-secondary" style="list-style-type: none;">
                                                                                                                        <li><small><i class="bi bi-bookmarks-fill"></i>${pro_catalogue}</small></li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                                <div class="col-2 p-0">
                                                                                                                    <div class="ratio ratio-1x1 text-center mt-1">
                                                                                                                        <span class="text-primary border-primary rounded-3 bg-light-primary align-middle fw-bold fs-5 pt-2">${number_format(product.price / 1000)}</span>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="col-2 dropstart btn-group product-menu" data-id="${product.id}">
                                                                                                                    <button class="btn btn-link mb-0 px-2 py-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                                                        <i class="bi bi-three-dots-vertical"></i>
                                                                                                                    </button>
                                                                                                                    <ul class="dropdown-menu p-2">
                                                                                                                        <li>
                                                                                                                            <a class="cursor-pointer dropdown-item btn-update-product" data-id="${product.id}">
                                                                                                                                <small><i class="bi bi-pencil-square"></i> Sửa món</small>
                                                                                                                            </a>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                            <hr>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                            <form action="/Product/Delete" method="post" class="save-form">
                                                                                                                                <input type="hidden" name="choices[]" value="${product.id}">
                                                                                                                                <button type="submit" class="cursor-pointer text-danger dropdown-item btn-remove">
                                                                                                                                    <small><i class="bi bi-trash3"></i> Xóa món</small>
                                                                                                                                </button>
                                                                                                                            </form>
                                                                                                                        </li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>`;
                        } else if (product.catalogue == valueToChange) {
                            let pro_catalogue = ``;
                            if (product.catalogue == 1) {
                                pro_catalogue = 'Đồ uống';
                            } else if (product.catalogue == 2) {
                                pro_catalogue = 'Đồ ăn';
                            } else {
                                pro_catalogue = 'Món khác';
                            }
                            str_product += `
                                                                                                        <div class="col-6 col-md-3 col-lg-2 product-col">
                                                                                                            <div class="card product-card bg-transparent cursor-pointer" data-id="${product.id}">
                                                                                                                <div class="ratio ratio-16x9 mb-2">
                                                                                                                    <img src="${product.image}" class="card-img-top rounded-4 rounded-lg-5 object-fit-cover" alt="${product.name}">
                                                                                                                </div>
                                                                                                                <div class="row px-3 justify-content-start align-items-center">
                                                                                                                    <div class="col-12 p-0">
                                                                                                                        <p class="text-primary card-title mb-0 fw-bold">${product.name}</p>
                                                                                                                    </div>
                                                                                                                    <div class="col-8">
                                                                                                                        <ul class="card-text ps-0 d-flex text-secondary" style="list-style-type: none;">
                                                                                                                            <li><small><i class="bi bi-bookmarks-fill"></i>${pro_catalogue}</small></li>
                                                                                                                        </ul>
                                                                                                                    </div>
                                                                                                                    <div class="col-2 p-0">
                                                                                                                        <div class="ratio ratio-1x1 text-center mt-1">
                                                                                                                            <span class="text-primary border-primary rounded-3 bg-light-primary align-middle fw-bold fs-5 pt-2">${number_format(product.price / 1000)}</span>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <div class="col-2 dropstart btn-group product-menu" data-id="${product.id}">
                                                                                                                        <button class="btn btn-link mb-0 px-2 py-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                                                            <i class="bi bi-three-dots-vertical"></i>
                                                                                                                        </button>
                                                                                                                        <ul class="dropdown-menu p-2">
                                                                                                                            <li>
                                                                                                                                <a class="cursor-pointer dropdown-item btn-update-product" data-id="${product.id}">
                                                                                                                                    <small><i class="bi bi-pencil-square"></i> Sửa món</small>
                                                                                                                                </a>
                                                                                                                            </li>
                                                                                                                            <li>
                                                                                                                                <hr>
                                                                                                                            </li>
                                                                                                                            <li>
                                                                                                                                <form action="/Product/Delete" method="post" class="save-form">
                                                                                                                                    <input type="hidden" name="choices[]" value="${product.id}">
                                                                                                                                    <button type="submit" class="cursor-pointer text-danger dropdown-item btn-remove">
                                                                                                                                        <small><i class="bi bi-trash3"></i> Xóa món</small>
                                                                                                                                    </button>
                                                                                                                                </form>
                                                                                                                            </li>
                                                                                                                        </ul>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>`;
                        }
                    });
                    $('#product-list').html(str_product);
                });
            }

            $(document).on('click', '.btn-table-delivery', function (e) {
                e.preventDefault();
                $('.bill-details').empty();
                $('.bill-total').text(0);
                var id = $(this).find('[name=table]').val();
                $.each($('.table-label'), function (index, entity) {
                    $(this).removeClass('table-selected');
                    $(entity).find('.card.table-card').removeClass('border border-primary border-3')
                });
                $(this).addClass('table-selected');
                $('.table-name').text("Mang đi");
                $('#bill-canvas').offcanvas('show');
            });

            $(document).on('click', '.btn-bill', function (e) {
                e.preventDefault();
                if ($('.bill-details').find('*').length > 0) {
                    $.ajax({
                        type: $('#main-form').attr('method'),
                        url: $('#main-form').attr('action'),
                        data: $('#main-form').serialize(),
                        dataType: 'json',
                        success: function (response) {
                            Toastify({
                                text: response.msg,
                                duration: 3000,
                                close: true,
                                gravity: "top",
                                position: "center",
                                backgroundColor: `var(--bs-${response.status})`,
                            }).showToast();

                            setTimeout(function () {
                                window.location.href = "/Main/Index";
                            }, 2000);
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                } else {
                    Swal.fire({
                    title: "Lưu ý!",
                    text: "Vui lòng chọn món!",
                    icon: "warning",
                    showConfirmButton: true,
                    confirmButtonText: "OK, Đã hiểu!",
                })
                }

            });

            $(document).on('click', '.table-label', function (e) {
                e.preventDefault();
                $('.bill-details').empty();
                $('.bill-total').text(0);
                var id = $(this).find('[name=table]').val();
                $('#main-form').find('input[name="table_id"]').val(id);
                $.each($('.table-label'), function (index, entity) {
                    $(this).removeClass('table-selected');
                    $(entity).find('.card.table-card').removeClass('border border-primary border-3')
                });
                $(this).addClass('table-selected');
                $(this).find('.card.table-card').addClass('border border-primary border-3');
                $('.table-name').addClass('d-none');
                $('#bill-canvas').offcanvas('show');
                $.get(`/Main/GetOrderByTableId/?id=${id}`, function (data) {
                    $('.table-name').text(data.table.name).removeClass('d-none');
                    $('.btn-print').attr('data-id', data.order.id)
                    $('.btn-pay').attr('data-id', data.order.id)
                    $('.bill-total').text(number_format(data.order.totalPrice));
                    $('.input-bill-total').val(data.order.totalPrice);
                    $.each(data.details, function (index, detail) {
                        $.get('/Product/GetProduct/?id=' + detail.productId, function (response) {
                            const str = `<div class="text-dark d-flex flex-column align-items-between w-100 ms-1 mt-2 bill-detail" data-id=${response.product.id}>
                                                    <div class="text-start px-1 fw-bold">${response.product.name}</div>
                                                    <div class="row">
                                                        <div class="col-5 text-end pe-5"><span class="me-2">${number_format(response.product.price)}</span></div>
                                                        <input type="hidden" name="id[]" value="${response.product.id}"/>
                                                        <input type="hidden" name="price[]" class="col-2 text-center px-1 bill-price border border-0" value="${response.product.price}">
                                                        <input type="number" name="quantity[]" class="col-2 text-center px-1 bill-quantity border border-0" value="${detail.quantity}">
                                                        <div class="col-5 text-end px-1"><span class="bill-total-price me-2">${number_format(response.product.price * detail.quantity)}</span></div>
                                                    </div>
                                                </div>`
                            $('.bill-details').append(str);
                        });
                    });
                })
            });

            $(document).on('change', '#search-table', function () {
                loadTable($(this).find('[name=status]:checked').val());
            });

            $(document).on('change', '#search-product', function () {
                loadProduct($(this).find('[name=catalogue]:checked').val());
            });

            $(document).on('click', '.btn-print', function () {
                const id = parseInt($(this).attr('data-id'));
                window.open(
                    `Order/Bill?order_id=${id}`,
                    '_blank',
                    'toolbar=no,scrollbars=no,menubar=no,status=no,resizable=no,top=150,left=600,width=500,height=650'
                );
            })

            $(document).on('change keyup', '.bill-quantity', function () {
                var inputValue = $(this).val();
                $(this).val((inputValue >= 1) ? inputValue : 1)
                calcBillMain()
            })

            $(document).on('click', '.product-card', function () {
                const id = parseInt($(this).attr('data-id'));
                $.get('/Product/GetProduct/?id=' + id, function (response) {
                    const str = `<div class="text-dark d-flex flex-column align-items-between w-100 ms-1 mt-2 bill-detail" data-id=${response.product.id}>
                                                <div class="text-start px-1 fw-bold">${response.product.name}</div>
                                                <div class="row">
                                                    <div class="col-5 text-end pe-5"><span class="me-2">${number_format(response.product.price)}</span></div>
                                                    <input type="hidden" name="id[]" value="${response.product.id}"/>
                                                    <input type="hidden" name="price[]" class="col-2 text-center px-1 bill-price border border-0" value="${response.product.price}">
                                                    <input type="number" name="quantity[]" class="col-2 text-center px-1 bill-quantity border border-0" value="1">
                                                    <div class="col-5 text-end px-1"><span class="bill-total-price me-2">${number_format(response.product.price)}</span></div>
                                                </input>
                                            </div>`
                    $('.bill-details').append(str);
                    calcBillMain()
                });
            })

            $(document).on('click', '.btn-pay', function () {
                const id = parseInt($(this).attr('data-id'));
                const priceIMG = $(this).parents('form').find('.input-bill-total').val();
                console.log(priceIMG);
                Swal.fire({
                    title: "Thanh toán",
                    text: "Vui lòng chọn phương thức thanh toán",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Tiền mặt",
                    cancelButtonText: "Chuyển khoản",
                    reverseButtons: true
                }).then((result) => {
                    let totalPrice_img = 0;
                    if (!result.isConfirmed) {
                        let modalEx = $('#setting-example'), str = `https://img.vietqr.io/image/`;
                        $.get(`/Setting/Load`, function (settingList) {
                            $.each(settingList, function (index, setting) {
                                if (setting.key == "bank_number") {
                                    str += setting.value + '-';
                                } if (setting.key == "bank_id") {
                                    str += setting.value + '-';
                                }
                                if (setting.key == "bank_template") {
                                    str += setting.value + `.png?amount=${priceIMG}&addInfo=`;
                                }
                                if (setting.key == "bank_content") {
                                    str += setting.value;
                                }
                            });
                            console.log(str)
                            modalEx.find('img').attr('src', str);
                        });
                        modalEx.modal('show');
                        modalEx.on('hidden.bs.modal', function (e) {
                            $.ajax({
                                url: '/Order/Pay',
                                type: 'POST',
                                data: { id: id, payment: '2' },
                                success: function () {
                                    window.location.href = "/Main/Index";
                                },
                                error: function (xhr, status, error) {
                                    console.error(xhr.responseText);
                                }
                            });
                        });
                    } else {
                        $.ajax({
                            url: '/Order/Pay',
                            type: 'POST',
                            data: { id: id, payment: '1' },
                            success: function () {
                                window.location.href = "/Order/Index";
                            },
                            error: function (xhr, status, error) {
                                console.error(xhr.responseText);
                            }
                        });
                    }
                });
            })
        });

        function calcBillMain() {
            let total = 0;
            $('#main-form .bill-detail').each(function () {
                let sum = $(this).find('.bill-price').val() * $(this).find('.bill-quantity').val();
                $(this).find('.bill-total-price').text(number_format(sum));
                total += sum;
            })
            $('#main-form').find('.input-bill-total').val(total)
            $('#main-form').find('.bill-total').text(number_format(total))
        }
    </script>
}