@{
    ViewData["Title"] = "Index";
}

<section class="row justify-content-center align-items-center">
    <div class="col-7">
        <div class="container card me-5 p-5 shadow-lg">
            <h3 class="fw-bold">Thiết lập hệ thống</h3>
            <hr>
            <form asp-action="BankUpdate" method="post" id="setting-form" class="save-form" accept-charset="UTF-8">
                <div class="p-5">
                    <div class="row justify-content-center">
                        <div class="form-group col-12 col-lg-6">
                            <label class="fw-bold" for="bank-id">Chọn ngân hàng</label>
                            <select class="form-control" name="bank_id" id="bank-id">
                            </select>
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label class="fw-bold" for="bank-number">Số tài khoản</label>
                            <input type="text" class="form-control" id="bank-number" name="bank_number"
                                placeholder="Nhập số tài khoản">
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label class="fw-bold" for="template">Mẩu QR</label>
                            <select class="form-control" id="template">
                                <option selected value="compact">Cơ bản</option>
                                <option value="compact">Số tài khoản - số tiền</option>
                                <option value="qr_only">Chỉ mã QR</option>
                                <option value="print">Mẩu in</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label class="fw-bold" for="bank-amount">Nội dung chuyển khoản</label>
                            <input type="text" class="form-control" id="bank-amount" name="amount"
                                placeholder="Nội dung chuyển khoản" value="Thanh toán hóa đơn.">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button type="submit" id="setting-submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $.get('https://api.vietqr.io/v2/banks', function (api) {
                let form = $('#setting-form');
                $.each(api.data, function (index, bank) {
                    form.find('[name=bank_id]').append(`<option value="${bank.bin}">(${bank.bin}) ${bank.shortName} </option>`);
                })
            })
            $.get(`\\Setting\\Load`, function (settingList) {
                $.each(settingList, function (index, setting) {
                    let form = $('#setting-form');
                    if (setting.key == "bank_number") {
                        form.find('[name=bank_number]').val(setting.value)
                    } else if (setting.key == "bank_id") {
                        form.find('[name=bank_id]').val(setting.value)
                    } else if (setting.key == "bank_number") {
                        form.find('[name=bank_number]').val(setting.value)
                    } else if (setting.key == "bank_number") {
                        form.find('[name=bank_number]').val(setting.value)
                    }
                })
            })
        })
    </script>
}
