@{
    ViewData["Title"] = "Quản lý bàn";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Bảng tin</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="page-content">
    <div class="card p-4">
        <div class="card-header bg-white">
            <a asp-controller="Table" asp-action="Create" type="button" class="btn btn-primary btn-create-table me-2"><i
                    class="bi bi-plus-circle-dotted"></i>Thêm</a>
        </div>
        <div class="card-body">
            <form id="batch-form" asp-action="Delete" method="post">
                <div class="table-responsive">
                    <table class="table table-hover" id="data-table">
                        <thead>
                            <tr>
                                <th>Tên bàn</th>
                                <th>Khu vực</th>
                                <th>Ghi chú</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $.get('/User/GetUserInfo', function (data) {
                switch (data.role) {
                    case 3:
                        $('.btn-create-table').remove();
                        break;
                    default:
                        break;
                }
            })

            const table = $('#data-table').DataTable({
                processing: true,
                serverSide: false,
                "order": [[1, "asc"]],
                ajax:
                {
                    url: `/Table/Load`,
                    error: function (err) {
                        if (err.status == 401 || err.status == 419) {
                            console.warn(err.responseJSON.errors);
                            window.location.href = "/Login/Index";
                        }
                        else {
                            console.log('Error:', err);
                            swal(`{ { __("ĐÃ CÓ LỖI XẢY RA!") } }`, err.responseJSON.$message, 'error');
                        }
                    },
                },
                columns:
                    [{
                        data: 'name',
                        name: 'name'
                    }, {
                        data: 'area',
                        name: 'area'
                    }, {
                        data: 'note',
                        name: 'note'
                    }, {
                        data: 'status',
                        name: 'status',
                    }, {
                        data: 'action',
                        name: 'action'
                    },
                    ],
                language: {
                    "sProcessing": "Đang xử lý...",
                    "sLengthMenu": "_MENU_   dòng / trang",
                    "sZeroRecords": "Nội dung trong.",
                    "sInfo": "Từ _START_ đến _END_ của _TOTAL_ mục",
                    "sInfoEmpty": "Không có mục nào",
                    "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                    'searchPlaceholder': "Tìm kiếm dữ liệu",
                    "sInfoPostFix": "",
                    "sSearch": "",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "&laquo;",
                        "sPrevious": "&lsaquo;",
                        "sNext": "&rsaquo;",
                        "sLast": "&raquo;",
                    },
                },
                columnDefs: [{
                    target: 4,
                    sortable: false,
                    searchable: false,
                },],
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Tất cả"]]
            })
        })
    </script>
}
