<section class="row justify-content-center align-items-center">
    < div class="col-12">
        < div class="container card me-5 p-5 shadow-lg">
            < h3 class="fw-bold"> Thêm đơn hàng mới</>
            <hr>
            <form asp-Controller="Order" asp-action="Create" method="post" id="order-form" class="save-form" accept -
                charset="UTF-8">
                < div class="p-5">
                    < div class="row">
                        < input type="hidden" asp -for="Id" value="0">
                            < span asp - validation -for="Id" class="text-danger"></ span>
                            < div class="mx-1 mx-lg-3 order-header">
                                < div class="row justify-content-end align-items-center">
                                    < div class="col-6 col-lg-3 d-flex align-items-center">
                                        < h5 class="text-primary my-0"> Mã đơn </ h5>
                                        < span class="text-dark fs-5 ms-2 my-0 order-id"></ span>
                                    </ div>
                                    < div class="col-6 col-lg-4 d-flex align-items-center">
                                        < h5 class="text-primary my-0"> Thu ngân </ h5>
                                        < span class="text-dark fs-5 ms-2 my-0"> @Context.Session.GetString("AuthName")
                                        </ span>
                                    </ div>
                                    < div class="col-6 col-lg-5 px-0 mt-3 mt-lg-0">
                                        < select id="order-table" asp -for="TableId" class="form-select">
                                            @foreach (var table in Model.Tables)
                                            {
                                            < option value="@table.Id"> @table.Name </ option>
                                            }
                                        </ select>
                                    </ div>
                                    < div class="col-6 text-end p-0 mt-3">
                                        < button class="btn btn-outline-primary btn-discount" type="button" data - bs -
                                            toggle="tooltip" data - bs - title="Giảm giá">
                                            < i class="bi bi-percent"></ i>
                                        </ button>
                                        < button class="btn btn-outline-primary btn-fee mx-3" type="button" data - bs -
                                            toggle="tooltip" data - bs - title="Phụ phí">
                                            < i class="bi bi-tags-fill"></ i>
                                        </ button>
                                        < button class="btn btn-outline-primary btn-add-product" type="button" data - bs
                                            - toggle="tooltip" data - bs - title="Thêm món">
                                            < i class="bi bi-plus"></ i>
                                        </ button>
                                    </ div>
                                </ div>
                            </ div>
                            < div class="row mt-4  d-none d-lg-flex">
                                < div class="col-4 fw-bold text-center"> Tên món </ div>
                                < div class="col-2 fw-bold text-center"> Giá </ div>
                                < div class="col-2 fw-bold text-center"> Số lượng </ div>
                                < div class="col-2 fw-bold text-center"> Thành tiền </ div>
                            </ div>
                            < hr class="px-5">
                                < div id="order-details">
                                </ div>
                                < hr class="px-5">
                                    < div class="row justify-content-end">
                                        < div class="col-12 col-lg-6 text-end me-lg-4 order-calc-fee d-none">
                                        </ div>
                                        < div class="col-12 col-lg-6 text-end me-lg-4 order-calc-discount">
                                        </ div>
                                        < div class="col-12 col-lg-6 text-end me-lg-4">
                                            < input type="hidden" class="bill-total">
                                                Tổng giá trị đơn hàng:< span class="order-summary ms-2"></ span>
                                            </ div>
                                        </ div>
                                    </ div>
                                    < div class="modal-footer">
                                        < input type="hidden" id="order-id" name="id">
                                            < button type="button" class="btn btn-success btn-pay me-3">
                                                < i class="bi bi-currency-dollar"></ i> Tạo
                                                thanh toán</button>
                                                <button type="submit" class="btn btn-primary">
                                                    < i class="bi bi-floppy"></ i> Lưu
                                            </ button>
                                        </ div>
                                    </ div>
                                </ form>
                            </ div>
                        </ div>
                    </ section>
                    @section Scripts {
                    <partial name="_ValidationScriptsPartial" />
                    <script>
                        $(document).ready(function () {
                            ajax: {
                                url: `/ Order / Load`,
                                    error: function(err) {
                                        if (err.status == 401 || err.status == 419) {
                                            console.warn(err.responseJSON.errors);
                                            window.location.href = "/Login/Index";
                                        }
                                        else {
                                            console.log('Error:', err);
                                            swal(`{ { __("ĐÃ CÓ LỖI XẢY RA!") } }`, err.responseJSON.$message, 'error');
                                        }
                                    },
                            },
                        }
    </ script >

}