@model MyLibrary.DataAccess.Order

@{
    ViewData["Title"] = "Quản lý đơn hàng";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first d-flex justify-content-end align-items-end">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home">
                                <p class="text-light-primary">Bảng tin</p>
                            </a></li>
                        <li class="breadcrumb-item text-dark active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="page-content">
    <div class="card">
        <div class="card-header">
            <a class="btn btn-primary me-2" asp-controller="Order" asp-action="Create">
                <i class="bi bi-plus-circle-dotted"></i>
                Thêm
            </a>
            <button type="button" class="btn btn-danger btn-removes d-none"><i class="bi bi-trash"></i>
                Xóa
            </button>
        </div>
        <div class="card-body">
            <form method="post" id="batch-form">
                <div class="table-resposive">
                    <table class="table table-hover" id="data-table">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="form-check-input cursor-pointer all-choices">
                                </th>
                                <th>Id</th>
                                <th>Bàn</th>
                                <th>Nhân viên</th>
                                <th>Giá</th>
                                <th>Ghi chú</th>
                                <th>Thời gian tạo</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            const table = $('#data-table').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: `/Order/Load`,
                    error: function (err) {
                        if (err.status == 401 || err.status == 419) {
                            console.warn(err.responseJSON.errors);
                            window.location.href = "/Login/Index";
                        } else {
                            console.log('Error:', err);
                            swal(`{{ __("ĐÃ CÓ LỖI XẢY RA!") }}`, err.responseJSON.$message, 'error');
                        }
                    },
                },
                columns: [{
                    data: 'checkbox',
                    name: 'checkbox'
                }, {
                    data: 'id',
                    name: 'id'
                }, {
                    data: 'table_id',
                    name: 'table_id'
                }, {
                    data: 'user_id',
                    name: 'user_id'
                }, {
                    data: 'total_price',
                    name: 'total_price'
                }, {
                    data: 'note',
                    name: 'note'
                }, {
                    data: 'created_at',
                    name: 'created_at'
                }, {
                    data: 'status',
                    name: 'status'
                }, {
                    data: 'action',
                    name: 'action'
                },
                ],
                language: {
                    "sProcessing": "Đang xử lý...",
                    "sLengthMenu": "_MENU_   dòng / trang",
                    "sZeroRecords": "Nội dung trong.",
                    "sInfo": "Từ _START_ đến _END_ của _TOTAL_ mục",
                    "sInfoEmpty": "Không có mục nào",
                    "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                    'searchPlaceholder': "Tìm kiếm dữ liệu",
                    "sInfoPostFix": "",
                    "sSearch": "",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "&laquo;",
                        "sPrevious": "&lsaquo;",
                        "sNext": "&rsaquo;",
                        "sLast": "&raquo;",
                    },
                },
                columnDefs: [{
                    target: 0,
                    sortable: false,
                    searchable: false,
                }]

            })
        })
    </script>
}
