@model MyLibrary.DataAccess.User
@{
    ViewData["Title"] = "Change Password";
}

<div class="card">
    <div class="card-header">
        <h2>Change Password</h2>
    </div>
    <div class="card-body">
        <form asp-action="ChangePassword" method="post">

            <div class="form-group">
                <label asp-for="Password">Old Password:</label>
                <input type="password" asp-for="Password" class="form-control" name="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" class="form-control" name="newPassword" />
                <span class="text-danger">@ViewData["newPassword"]</span>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" class="form-control" name="confirmPassword" />
                <span class="text-danger">@ViewData["confirmPassword"]</span>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary ">Change Password</button>
            </div>
        </form>
    </div>
    <a asp-action="Index" class="btn btn-outline-primary">Back to list</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
