@model MyLibrary.DataAccess.User
@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<form asp-controller="Profile" asp-action="ChangePassword" method="post">

    <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input type="password" class="form-control" name="Password" required />
    </div>

    <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" class="form-control" name="newPassword" required />
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" class="form-control" name="confirmPassword" required />
    </div>

    <div class="text-danger">
        @ViewData["Password"]
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
