@{
    ViewData["Title"] = "ChangePassword";
}
<h2>Change Password</h2>

<form method="post" asp-action="ChangePassword">
    <label for="currentPassword">Current Password:</label>
    <input type="password" id="currentPassword" name="currentPassword" required>

    <br>

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>

    <br>

    <button type="submit">Change Password</button>
</form>